<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.example.app.newnote</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Note</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCompose</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.example.app.HomePage</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>HomePage</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCompose</string>
		</dict>
	</array>
</dict>
</plist>
